/* ===GLOBAL=== */

html {
  overflow-y: scroll;
}

body {
  background: #ffffff;
  font-family: "Amatic SC", sans-serif;
  margin: 0;	
  overflow-x: hidden;
  padding: 0;
}

h1 {
  font-family: "Amatic SC", sans-serif !important;
  font-size: 80px !important;
}

.logo {
  height: 200px;
}

/* ===PRIMARY=== */

.container {
  padding-top: 15px;
}

.frame {
  max-height: inherit;
  min-height: 400px !important;
  border: 2px dashed #262626;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.btn {
  color: #ffffff;
  font-family: "Amatic SC", sans-serif !important;
  font-size: 40px !important;
} 

#upfile {
  background-color: darkgray !important; /* TODO: Replace html code */
  cursor: pointer;
}

#output {
  max-width: 100%;
  max-height: 100%;
  overflow-x: hidden
  overflow-y: hidden;
  width:100%;
}

.radio-selector input {
  display: none;
  margin: 0;
  padding: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.happy { 
  background-image: url('../svg/happy.svg');
  background-position: center;
}

.sad {
  background-image: url('../svg/sad.svg'); 
  background-position: center;
}

.angry { 
  background-image: url('../svg/angry.svg');
  background-position: center;
}

/*input:checked +.label-selector .sad {
  filter: grayscale(0%);
}
*/

.radio-selector input:active + .label-selector {
  opacity: 0.5;
}

.radio-selector input:checked + .label-selector {
  filter: invert(100%);
  /* -webkit-filter: none;
     -moz-filter: none;
          filter: none;*/ 
  opacity:1;
}

.label-selector {
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
  display: inline-block;
  height: 80px;
  margin: auto;
  width: 90px;
}

.label-selector:hover,
input:disabled+label {
  -webkit-filter: brightness(1) grayscale(0) opacity(0.5);
     -moz-filter: brightness(1) grayscale(0) opacity(0.5);
          filter: brightness(1) grayscale(0) opacity(0.5);
}

.warning {
  height: 20px;
  padding-right: 10px;
}

.btn .pictureup {
  filter: invert(100%);
  height: 35px;
  margin-right: 10px;
  visibility: visible;
}

.btn:hover .pictureup {
  filter: invert(0%);
}

.btn:active, .btn:focus {
  filter: invert(0%);  
}

.alertemotion {
  font-family: "Amatic SC", sans-serif;
  font-size: 20px;
  font-weight: 700;
  color: #000000;
}

.emotions {
  width: inherit !important;
}

.bottombox {
  padding-top: 15px;
}

.submit {
  float: right !important;
  padding-right: 0px !important;
}

.submitbutst {
  background-color: #000000;
}

.submitbutst:hover {
  border-color: #ffffff;
  border-width: 2px;
  color: #ffffff !important;
  filter: invert(100%);
  text-decoration: none;
}

.informationsource {
  font-size: 15px;    
  font-weight: 800;
}

.copyright {
  bottom: 0;
  color: inherit;
  font-family: "Amatic SC", sans-serif; 
  margin: auto;
  padding: 0;
  position: relative;
  text-decoration: none;
  width: auto;
}

.copyright a {
  color: inherit;
}

/* ===FOOTER=== */

footer {
  margin-bottom: 0;
  color: darkgray; /* TODO: Replace html code */
}

.box-footer {
  bottom: 0;
  position: relative;
  width: 100%;
}


/* ===RESPONSIVENESS=== */

@media (max-width: 426px) {
  .frame {
    min-height: 200px !important;
  }
  
  .logo {
    height: auto;
    width: 40%;
  }
  
  .label-selector {
    width: 30%;
    height: 52px;
  }

  .bottombox {
    width: 49% !important;
    display: inline-block;
  }
  
  .bfw {
    width: 100% !important;
  }
  
  .btn {
    font-size: 27px !important;
  }
  
  .btn .pictureup {
    height: 30px;
  }
  
  .sfright {
    float: right;
  }
  
  .radio-selector {
    vertical-align: top;
  }
  
  /* TODO Capture button when label is selected
  {background-color: inherit;
  border-color: white;
  border-width: 2px;}*/
  
  #upfile:active, 
  #upfile:focus, 
  #upfile:visited {
    background-color: inherit !important;
    border-color: #000000;
    border-width: 2px;
  }
  
  .box-footer {
    padding-top: 15px;
  }
}



