
/*========== MAIN ==========*/

#dm4ym { 
  height: 100%; 
}

/*========== INFOWINDOW ==========*/

.box-logoandemotion {
  margin: 3mm;
}

.logo img {
  height: 15mm;
}

.emotion.sqre {
  float: right;
}

.emotion img {
  height: 10mm;
}

.sqre {
  display: inline-block;
}

.emotion-name {
  font-family: "Amatic SC", sans-serif;
  font-size: 16px;
  margin: 0 !important;
  text-align: center;
}

.box-text {
  font-size: 12px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.box-img img {
  max-width: 160px;
}

/*========== LEAFLET ==========*/

.marker-info-window .box-img {
  max-width: 160px;
  min-width: 100px;
}

.leaflet-popup-content p {
  margin: 0 !important; 
}

.leaflet-popup-content-wrapper {
  max-width: 250px;
  width: 200px;
}

.angry-bg .leaflet-popup-tip,
.angry-bg .leaflet-popup-content-wrapper {
  background-color: #b12b25;
}

.happy-bg .leaflet-popup-tip,
.happy-bg .leaflet-popup-content-wrapper {
  background-color: #ffcd05;
}

.sad-bg .leaflet-popup-tip,
.sad-bg .leaflet-popup-content-wrapper {
  background-color: #3393c7;
}

/*========== MARKER CLUSTER ==========*/

.cluster {
  background: #ffcd05;
  border: 1px solid #ffcd05;
  border-radius: 50%;
  color: #ffffff;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  text-align: center;
}

.cluster:before {
  /*border: 1px solid white;*/
  border-radius: 50%;
  bottom: 1px;
  content: ' ';
  left: 1px;
  right: 1px;
  position: absolute;
  top: 1px;
  z-index: -1;
}

.digits-1 {
  font-size: 14px;
  height: 28px;
  width: 28px;
  line-height: 28px;
  margin-top: -14px;
  margin-left: -14px;
}

.digits-2 {
  font-size: 16px;
  height: 34px;
  line-height: 35px;
  margin-left: -17px;
  margin-top: -17px;
  width: 34px;
}

.digits-2:before {
  border-width: 2px;
}

.digits-3 {
  border-width: 3px;
  font-size: 18px;
  height: 48px;
  line-height: 47px;
  margin-left: -24px;
  margin-top: -24px;
  width: 47px;
}

.digits-3:before {
  border-width: 3px;
}

.digits-4 {
  border-width: 4px;
  font-size: 18px;
  height: 58px;
  line-height: 57px;
  margin-left: -29px;
  margin-top: -29px;
  width: 58px;
}

.digits-4:before {
  border-width: 4px;
}

.leaflet-container .leaflet-marker-pane img {
  width: 30px;
}

/*========== Control bars ==========*/


.leaflet-control-layers .leaflet-control-layers-list {
    font-family: "Lato", sans-serif;
    text-transform: capitalize;
    color: white;
    padding: 5px;
}

.leaflet-touch .leaflet-control-layers {
  border-style: hidden;
} 

.leaflet-control-layers {
  background-color: #000;
  border-radius: 0px;
}

/*
.leaflet-control-layers .title-lay {
    margin-top: 0px;
    margin-bottom: 5px;
    font-size: 15;
  color: white;
}
*/

.leaflet-bar a, .leaflet-bar a:hover {
    background-color: #000000;
    border-bottom: 2px solid #fff;
    color: white;
}

.leaflet-touch .leaflet-bar{
  border-radius: 0px;
  border: 1px solid rgb(255, 255, 255);
}

.leaflet-touch .leaflet-bar a {
  border-radius: 0px !important;
}


